/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #c86dd7 5%, #3023ae 100%);
  background-color: #c86dd7;
  border-radius: 17px;
  border: 1px solid #3023ae;
  cursor: pointer;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 5px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  width: 145px;
}

button:hover {
  background: linear-gradient(to bottom, #3023ae 5%, #c86dd7 100%);
}

button:active {
  position: relative;
  top: 1px;
}

button:nth-child(n + 2) {
  margin-top: 8px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

main {
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #3023ae,
    #c86dd7
  );
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  justify-content: center;
  min-width: 400px;
}

p {
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

p:nth-child(n + 2) {
  margin-top: 20px;
}

p + p {
  margin-top: 15px !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

/*---------------------m-001-----------------------*/

.login-box__input-field {
  margin-top: 50px;
}

.login-box {
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 321px;
  padding: 15px;
  width: 80%;
}

.login-box__input-field--password {
  background: #3123ae31;
  border-radius: 17px;
  border: 0px;
  cursor: pointer;
  height: 23px;
  margin-top: 8px;
}

.login-box__input-field--password:hover {
  background: #3123ae1c;
}

.login-box__input-field--modul-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  width: 145px;
}

.login-box__input-field--user {
  background: #3123ae31;
  border: 0px;
  border-radius: 17px;
  cursor: pointer;
  margin-top: 8px;
  height: 23px;
}

.login-box__input-field--user:hover {
  background: #3123ae1c;
}

.login-box__input-field--modul-field {
  display: flex;
  flex-direction: column;
  width: 145px;
}

.login-box__button-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.login-box__button--register {
  background: linear-gradient(to bottom, #c86dd7 100%, #3023ae 5%);
}

.login-box__button--register:hover {
  background: linear-gradient(to bottom, #3023ae 5%, #c86dd7 100%);
  background-color: #415989;
}

.login-box__button--register:active {
  position: relative;
  top: 1px;
}

/*-------------------------------------------*/

@media screen and (min-width: 768px) {
  button:nth-child(n + 2) {
    margin-top: 0px;
    margin-left: 50px;
  }

  p {
    text-align: left;
  }

  /*--------------------------------------*/

  .login-box__input-field--password {
    background: #c96dd731;
  }

  .login-box__input-field--password:hover {
    background: #c96dd71e;
  }

  .login-box__input-field--user {
    background: #c96dd731;
  }

  .login-box__input-field--user:hover {
    background: #c96dd71e;
  }

  .login-box__input-field--modul-field:nth-child(n + 2) {
    margin-left: 50px;
  }

  .login-box__input-field {
    display: flex;
  }

  .login-box__button-container {
    flex-direction: row;
    margin: 0;
  }

  .login-box {
    align-items: flex-start;
  }

  .login-box__button--register {
    margin-left: 50px;
    margin-top: 0;
  }

  button {
    margin: 0;
  }
}
